<% sites.each do |site| %>
  <div class="sidebar__siteTitle">
    <%= site.name %>
  </div>

  <ul class="sidebar__novelTitle">
  <% site.novels.each do |novel| %>
    <li>
      <% deleted = novel.deleted_at.present? ? 'deleted' : '' %>
      <% non_target = novel.non_target ? '[×] ' : '' %>
      <a class="<%= deleted %>" href="/<%= site.code %>/<%= novel.id %>#main"><%= non_target %><%= novel.replace_title %></a>
    </li>
  <% end %>
  </ul>
<% end %>
